<div class="alert alert-info">
–ü—Ä–∏–≤–µ—Ç, –ê–Ω–∞—Å—Ç–∞—Å–∏—è! –ú–µ–Ω—è –∑–æ–≤—É—Ç –°–≤–µ—Ç–ª–∞–Ω–∞ –∏ —è –±—É–¥—É –ø—Ä–æ–≤–µ—Ä—è—Ç—å —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç. –ú–æ—è –æ—Å–Ω–æ–≤–Ω–∞—è —Ü–µ–ª—å ‚Äî –Ω–µ —É–∫–∞–∑–∞—Ç—å –Ω–∞ —Å–æ–≤–µ—Ä—à–µ–Ω–Ω—ã–µ —Ç–æ–±–æ—é –æ—à–∏–±–∫–∏, –∞ –ø–æ–¥–µ–ª–∏—Ç—å—Å—è —Å–≤–æ–∏–º –æ–ø—ã—Ç–æ–º –∏ –ø–æ–º–æ—á—å —Ç–µ–±–µ. –ü—Ä–µ–¥–ª–∞–≥–∞—é –æ–±—â–∞—Ç—å—Å—è –Ω–∞ ¬´—Ç—ã¬ª. –ù–æ –µ—Å–ª–∏ —ç—Ç–æ –Ω–µ —É–¥–æ–±–Ω–æ - –¥–∞–π –∑–Ω–∞—Ç—å, –∏ –º—ã –ø–µ—Ä–µ–π–¥–µ–º –Ω–∞ ¬´–≤—ã¬ª.

<div class="alert alert-success">
<b>üëç –£—Å–ø–µ—Ö:</b> –ó–µ–ª—ë–Ω—ã–º —Ü–≤–µ—Ç–æ–º –æ—Ç–º–µ—á–µ–Ω—ã —É–¥–∞—á–Ω—ã–µ –∏ —ç–ª–µ–≥–∞–Ω—Ç–Ω—ã–µ —Ä–µ—à–µ–Ω–∏—è, –Ω–∞ –∫–æ—Ç–æ—Ä—ã–µ –º–æ–∂–Ω–æ –æ–ø–∏—Ä–∞—Ç—å—Å—è –≤ –±—É–¥—É—â–∏—Ö –ø—Ä–æ–µ–∫—Ç–∞—Ö.
</div>
<div class="alert alert-warning">
<b>ü§î –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è:</b> –ñ—ë–ª—Ç—ã–º —Ü–≤–µ—Ç–æ–º –≤—ã–¥–µ–ª–µ–Ω–æ —Ç–æ, —á—Ç–æ –≤ —Å–ª–µ–¥—É—é—â–∏–π —Ä–∞–∑ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –ø–æ-–¥—Ä—É–≥–æ–º—É. –¢—ã –º–æ–∂–µ—à—å —É—á–µ—Å—Ç—å —ç—Ç–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –ø—Ä–∏ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–∏ –±—É–¥—É—â–∏—Ö –∑–∞–¥–∞–Ω–∏–π –∏–ª–∏ –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å –ø—Ä–æ–µ–∫—Ç —Å–µ–π—á–∞—Å (–æ–¥–Ω–∞–∫–æ —ç—Ç–æ –Ω–µ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ).
</div>
<div class="alert alert-danger">
<b>üòî –ù–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å:</b> –ö—Ä–∞—Å–Ω—ã–º —Ü–≤–µ—Ç–æ–º –≤—ã–¥–µ–ª–µ–Ω—ã –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –±–µ–∑ –∏—Å–ø—Ä–∞–≤–ª–µ–Ω–∏—è –∫–æ—Ç–æ—Ä—ã—Ö, —è –Ω–µ —Å–º–æ–≥—É –ø—Ä–∏–Ω—è—Ç—å –ø—Ä–æ–µ–∫—Ç :(
</div>
<div class="alert alert-info">
<b>üëÇ –°–æ–≤–µ—Ç:</b> –ö–∞–∫–∏–µ-—Ç–æ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–µ –º–∞—Ç–µ—Ä–∏–∞–ª—ã
</div>
–î–∞–≤–∞–π —Ä–∞–±–æ—Ç–∞—Ç—å –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º –≤ –¥–∏–∞–ª–æ–≥–µ: –µ—Å–ª–∏ —Ç—ã —á—Ç–æ-—Ç–æ –º–µ–Ω—è–µ—à—å –≤ –ø—Ä–æ–µ–∫—Ç–µ –ø–æ –º–æ–∏–º —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è–º ‚Äî –ø–∏—à–∏ –æ–± —ç—Ç–æ–º.
–ú–Ω–µ –±—É–¥–µ—Ç –ª–µ–≥—á–µ –æ—Ç—Å–ª–µ–¥–∏—Ç—å –∏–∑–º–µ–Ω–µ–Ω–∏—è, –µ—Å–ª–∏ —Ç—ã –≤—ã–¥–µ–ª–∏—à—å —Å–≤–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏:
<div class="alert alert-info"> <b>üéì –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ù–∞–ø—Ä–∏–º–µ—Ä, –≤–æ—Ç —Ç–∞–∫.</div>
–ü–æ–∂–∞–ª—É–π—Å—Ç–∞, –Ω–µ –ø–µ—Ä–µ–º–µ—â–∞–π, –Ω–µ –∏–∑–º–µ–Ω—è–π –∏ –Ω–µ —É–¥–∞–ª—è–π –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏. –í—Å—ë —ç—Ç–æ –ø–æ–º–æ–∂–µ—Ç –≤—ã–ø–æ–ª–Ω–∏—Ç—å –ø–æ–≤—Ç–æ—Ä–Ω—É—é –ø—Ä–æ–≤–µ—Ä–∫—É —Ç–≤–æ–µ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞ –±—ã—Å—Ç—Ä–µ–µ.
 </div>

# –ü–†–û–ï–ö–¢ SQL: –ß–¢–ï–ù–ò–ï –ü–û –ü–û–î–ü–ò–°–ö–ï

–¶–µ–ª—å –ø—Ä–æ–µ–∫—Ç–∞: —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞ –¥–ª—è —Å–µ—Ä–≤–∏—Å–∞ —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ.

–î–ª—è —ç—Ç–æ–≥–æ –Ω–∞–º –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–ª–µ–Ω–∞ –±–∞–∑–∞ –¥–∞–Ω–Ω—ã—Ö —Å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–µ–π –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–æ–≤ –∫–Ω–∏–≥, —É–∂–µ –∏–º–µ—é—â–∏—Ö—Å—è –≤ –∫—É–ø–ª–µ–Ω–Ω–æ–º —Å–µ—Ä–≤–∏—Å–µ.

–î–ª—è –Ω–∞—á–∞–ª–∞ –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∏ –Ω–∞–ø–∏—à–µ–º –ø—É—Ç—å –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö

In [1]:
#lets import necessary libraries
import pandas as pd
from sqlalchemy import text, create_engine
from PIL import Image

#set parameters
db_config = {'user': 'praktikum_student', #user name
'pwd': 'Sdf4$2;d-d30pp', # password
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net', #host
'port': 6432, #connection port
'db': 'data-analyst-final-project-db'} #database name
connection_string = 'postgresql://{user}:{pwd}@{host}:{port}/{db}'.format(**db_config)
#save connector
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

 –ü–æ—Å–º–æ—Ç—Ä–∏–º –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ –≤—Å–µ—Ö —Ç–∞–±–ª–∏—Ü –∏–∑ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö:
 **–¢–∞–±–ª–∏—Ü–∞ `books`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö:

- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `title` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;
- `num_pages` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;
- `publication_date` ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;
- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.

In [2]:
query = '''SELECT *
             FROM books
             limit 5'''
con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

**–¢–∞–±–ª–∏—Ü–∞ `authors`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö:

- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `author` ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.

In [3]:
query = '''SELECT *
             FROM authors
             limit 5'''
con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

**–¢–∞–±–ª–∏—Ü–∞ `publishers`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö:

- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;
- `publisher` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;

In [4]:
query = '''SELECT *
             FROM publishers
             limit 5'''
con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

**–¢–∞–±–ª–∏—Ü–∞ `ratings`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥:

- `rating_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;
- `rating` ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.

In [5]:
query = '''SELECT *
             FROM ratings
             limit 5'''
con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

**–¢–∞–±–ª–∏—Ü–∞ `reviews`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö –Ω–∞ –∫–Ω–∏–≥–∏:

- `review_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –Ω–∞–ø–∏—Å–∞–≤—à–µ–≥–æ –æ–±–∑–æ—Ä;
- `text` ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.

In [6]:
query = '''SELECT *
             FROM reviews
             limit 5'''
con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

–û—Ç–ª–∏—á–Ω–æ, –≤—Å–µ —Ç–∞–±–ª–∏—Ü—ã –ø—Ä–æ—Å–º–æ—Ç—Ä–µ–Ω—ã, —Ç–µ–ø–µ—Ä—å –æ—Å—Ç–∞–ª–æ—Å—å –≤—ã–≤–µ—Å—Ç–∏ —Å—Ö–µ–º—É –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö, —á—Ç–æ–±—ã –ø–æ–¥ —Ä—É–∫–æ–π –±—ã–ª–∏ –≤—Å–µ –≤–∑–∞–∏–º–æ—Å–≤—è–∑–∏ –∏ –∫–ª—é—á–∏ –º–µ–∂–¥—É —Ç–∞–±–ª–∏—Ü–∞–º–∏

<a href="https://ibb.co/kXTfmmp">
<img src="https://i.ibb.co/w4qXccT/Untitled-33.png" alt="Untitled-33" border="0">
</a>

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –ï—Å—Ç—å –æ–ø–∏—Å–∞–Ω–∏–µ –∑–∞–¥–∞—á–∏, —Å—Ö–µ–º–∞ –ë–î, –∏–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞–Ω—ã –≤—Å–µ –Ω—É–∂–Ω—ã–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏, —Å–æ–∑–¥–∞–Ω–æ –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –ë–î, –ø—Ä–æ—Å–º–æ—Ç—Ä–µ–Ω—ã —Ç–∞–±–ª–∏—Ü—ã
 </div>

### –ó–∞–¥–∞–Ω–∏—è –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞

1) –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;

In [7]:
#how many books issued after 1/1/2000
query = '''SELECT COUNT(book_id)
             FROM books
             WHERE CAST (publication_date AS date) > '2000-01-01'
             '''
con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

   count
0    819

**–í—ã–≤–æ–¥**: –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã—à–ª–æ 819 –∫–Ω–∏–≥

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –í—Å–µ –≤–µ—Ä–Ω–æ!
 </div>

2) –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É;

In [8]:
#count number of reviews and average score
query = '''SELECT b.book_id AS id, b.title AS title, COUNT (DISTINCT rw.review_id) as number_of_reviewes, \
                                                                    ROUND (AVG(rt.rating),2) as average_rating
             FROM books AS b 
             FULL OUTER JOIN reviews AS rw ON b.book_id=rw.book_id
             JOIN ratings AS rt ON b.book_id=rt.book_id
             GROUP BY 1,2
             ORDER BY number_of_reviewes DESC, average_rating DESC
             '''
con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

,id,title,number_of_reviewes,average_rating
0,948,Twilight (Twilight #1),7,3.66
1,302,Harry Potter and the Prisoner of Azkaban (Harr...,6,4.41
2,299,Harry Potter and the Chamber of Secrets (Harry...,6,4.29
3,656,The Book Thief,6,4.26
4,734,The Glass Castle,6,4.21
...,...,...,...,...
995,191,Disney's Beauty and the Beast (A Little Golden...,0,4.00
996,387,Leonardo's Notebooks,0,4.00
997,221,Essential Tales and Poems,0,4.00
998,83,Anne Rice's The Vampire Lestat: A Graphic Novel,0,3.67
999,808,The Natural Way to Draw,0,3.00

**–í—ã–≤–æ–¥**: –ø–æ–ª—É—á–µ–Ω–∞ —Ç–∞–±–ª–∏—Ü–∞ —Å–æ –≤—Å–µ–º–∏ –∫–Ω–∏–≥–∞–º–∏, –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –æ—Ç–∑—ã–≤–æ–≤ –∏ —Å—Ä–µ–¥–Ω–∏–º —Ä–µ–π—Ç–∏–Ω–≥–æ–º –ø–æ –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–µ. –ù–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ —É –∫–Ω–∏–≥–∏ "–°—É–º–µ—Ä–∫–∏"

 <div class="alert alert-danger">
 <s><b>üòî –ù–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å:</b> –¢—ã –≥—Ä—É–ø–ø–∏—Ä—É–µ—à—å –ø–æ –Ω–µ—É–Ω–∏–∫–∞–ª—å–Ω–æ–º—É –ø—Ä–∏–∑–Ω–∞–∫—É, —É –Ω–∞—Å –≤—Å–µ–≥–æ 1000 –∫–Ω–∏–≥</s>
 </div>
 
 <div class="alert alert-info"> <b>üéì –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ò—Å–ø—Ä–∞–≤–ª–µ–Ω–æ.</div>
 
  <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –í—Å–µ –≤–µ—Ä–Ω–æ!
 </div>

3) –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã;

In [9]:
#count publisher with most quantity of books over 50 pages
query = '''SELECT p.publisher, COUNT (DISTINCT b.book_id) as number_of_books
             FROM publishers AS p
             JOIN books AS b ON p.publisher_id=b.publisher_id
             WHERE num_pages > 50
             GROUP BY p.publisher
             ORDER BY number_of_books DESC
             LIMIT 1
             '''
con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

       publisher  number_of_books
0  Penguin Books               42

**–í—ã–≤–æ–¥**: –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –≤—ã–ø—É—Å—Ç–∏–≤—à–µ–µ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü - Penguin Books. –û–Ω–æ –≤—ã–ø—É—Å—Ç–∏–ª–æ 42 —Ç–æ–ª—Å—Ç—ã—Ö –∫–Ω–∏–≥–∏.

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –í—Å–µ –≤–µ—Ä–Ω–æ!
 </div>

4) –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;

In [12]:
query = '''SELECT a.author, ROUND(AVG(r.rating),2)
FROM authors AS a
LEFT JOIN books AS b ON a.author_id=b.author_id
LEFT JOIN ratings AS r on b.book_id=r.book_id
WHERE b.book_id IN (SELECT b.book_id
                    FROM books AS b
                    LEFT JOIN ratings AS r on b.book_id=r.book_id
                    GROUP BY b.book_id
                    HAVING COUNT (r.rating_id) >= 50)
GROUP BY 1
ORDER BY AVG(r.rating) desc
limit 1
'''
con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

                       author  round
0  J.K. Rowling/Mary GrandPr√©   4.29

**–í—ã–≤–æ–¥**: –ø–∏—Å–∞—Ç–µ–ª—å–Ω–∏—Ü–∞ –î–∂–æ–∞–Ω–Ω –†–æ—É–ª–∏–Ω–≥ –∏ –∏–ª–ª—é—Å—Ç—Ä–∞—Ç–æ—Ä –ú—ç—Ä–∏ –ì—Ä–∞–Ω–¥–ü—Ä–µ, —Å –∏—Ö –¥–µ—Ç–∏—â–µ–º –ì–∞—Ä—Ä–∏ –ü–æ—Ç—Ç–µ—Ä–æ–º, –ª–∏–¥–∏—Ä—É—é—Ç –ø–æ —Å—Ä–µ–¥–Ω–µ–º—É —Ä–µ–π—Ç–∏–Ω–≥—É —Å—Ä–µ–¥–∏ –Ω–∞–∏–±–æ–ª–µ–µ —á–∞—Å—Ç–æ –æ—Ü–µ–Ω–∏–≤–∞–µ–º—ã—Ö –∫–Ω–∏–≥.  

 <div class="alert alert-danger">
 <s><b>üòî –ù–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å:</b> –í –ø–æ–¥–∑–∞–ø—Ä–æ—Å–µ —Ç—ã –æ—Å—Ç–∞–≤–ª—è–µ—à—å —Ç–æ–ª—å–∫–æ –æ–¥–Ω—É –∫–Ω–∏–≥—É, –∞ –Ω–∞–º –Ω—É–∂–Ω–æ –Ω–∞–π—Ç–∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É –ø–æ –≤—Å–µ–º –∫–Ω–∏–≥–∞–º –∞–≤—Ç–æ—Ä–æ–≤ –∏ –≤—ã–±—Ä–∞—Ç—å –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –ø–æ –≤—Å–µ–º –∫–Ω–∏–≥–∞–º, –ø–æ–ø–∞–¥–∞—é—â–∏–º –ø–æ–¥ —É—Å–ª–æ–≤–∏–µ. –¢–æ –µ—Å—Ç—å —Ç–µ–±–µ –Ω—É–∂–Ω–æ –µ—â–µ —Ä–∞–∑ —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –ø–æ –∞–≤—Ç–æ—Ä—É –∏ –Ω–∞–π—Ç–∏ —Å—Ä–µ–¥–Ω–µ–µ –æ—Ç —Å—Ä–µ–¥–Ω–µ–≥–æ</s>
 </div>
 
  <div class="alert alert-info"> <b>üéì –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ò—Å–ø—Ä–∞–≤–ª–µ–Ω–æ.</div>
  
   <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –í—Å–µ –≤–µ—Ä–Ω–æ!
 </div>

5) –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫.

In [11]:
#count average number of reviewes from users that made more 48 ratings
query = '''WITH
rev AS (SELECT username, COUNT (DISTINCT review_id) AS number_of_reviews
            FROM reviews
            GROUP BY username),
rat AS (SELECT username, COUNT (rating) 
            FROM ratings
            GROUP BY username
            HAVING COUNT (rating) > 48)
SELECT ROUND(AVG(rev.number_of_reviews))
FROM rev JOIN rat ON rev.username = rat.username
'''
con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

   round
0   24.0

**–í—ã–≤–æ–¥**: –∞–∫—Ç–∏–≤–Ω—ã–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫, –¥–æ–≤–æ–ª—å–Ω–æ –∞–∫—Ç–∏–≤–Ω—ã –∏ –≤ –Ω–∞–ø–∏—Å–∞–Ω–∏–∏ –æ–±–∑–æ—Ä–æ–≤ - –≤ —Å—Ä–µ–¥–Ω–µ–º –æ–Ω–∏ —Å–¥–µ–ª–∞–ª–∏ 24 –æ–±–∑–æ—Ä–∞ –ø–æ –∫–Ω–∏–≥–∞–º –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –í—Å–µ –≤–µ—Ä–Ω–æ!
 </div>

**–û–ë–©–ò–ô –í–´–í–û–î**: 
–ü–æ–ª—É—á–µ–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –ø—Ä–æ—á–∏—Ç–∞–Ω—ã –∏ –ø—Ä–æ–≤–µ–¥–µ–Ω –∞–Ω–∞–ª–∏–∑ –¥–ª—è —Ñ–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏—è —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–≥–æ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏—è –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞:
- —Å–æ–≥–ª–∞—Å–Ω–æ –Ω–∞—à–∏–º –±–∞–∑–∞–º –¥–∞–Ω–Ω—ã—Ö, –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã—à–ª–æ –≤ —Å–≤–µ—Ç 819 –Ω–æ–≤—ã—Ö –∫–Ω–∏–≥. –ò—Å—Ö–æ–¥—è –∏–∑ —ç—Ç–∏—Ö –¥–∞–Ω–Ω—ã—Ö –º–æ–∂–Ω–æ —Å—Ç—Ä–æ–∏—Ç—å –ø—Ä–æ–≥–Ω–æ–∑—ã –ø–æ –ø—Ä–æ–¥—É–∫—Ç–∏–≤–Ω–æ—Å—Ç–∏ –∞–≤—Ç–æ—Ä–æ–≤ –Ω–∞ –±—É–¥—É—â–∏–µ –≥–æ–¥—ã, –∏ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω–æ –ø–ª–∞–Ω–∏—Ä–æ–≤–∞—Ç—å —Å–≤–æ–∏ –¥–æ—Ö–æ–¥—ã
- —Å–æ–±—Ä–∞–Ω—ã –¥–∞–Ω–Ω—ã–µ –ø–æ –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–µ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–µ. –ü–æ–ª—å–∑—É—è—Å—å —ç—Ç–∏–º–∏ –¥–∞–Ω–Ω—ã–º–∏, –º–æ–∂–Ω–æ –≤—ã—á–∏—Å–ª–∏—Ç—å –∫–∞–∫–∏–µ –∫–Ω–∏–≥–∏ –Ω–∞–∏–±–æ–ª–µ–µ –∏–Ω—Ç–µ—Ä–µ—Å–Ω—ã –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è–º - –ø–æ —Ç–∞–∫–∏–º –∫–Ω–∏–≥–∞–º –ø–∏—à—É—Ç –±–æ–ª—å—à–µ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ç–∞–≤—è—Ç –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–µ —Ä–µ–π—Ç–∏–Ω–≥–∏
- –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–æ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –≤—ã–ø—É—Å—Ç–∏–≤—à–µ–µ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü - —ç—Ç–æ Penguin Books. –í–æ—Ç –∏ —Å—Ç—Ä–∞—Ç–µ–≥–∏—á–µ—Å–∫–∏–π –ø–∞—Ä—Ç–Ω–µ—Ä –¥–ª—è –Ω–∞—à–µ–≥–æ –Ω–æ–≤–æ–≥–æ –±–∏–∑–Ω–µ—Å–∞! –ú–æ–∂–Ω–æ –ø—Ä–æ–¥—É–º–∞—Ç—å –∫—Ä–æ—Å—Å-–º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤—ã–µ –∞–∫—Ü–∏–∏ –ª–∏–±–æ –ø—Ä–æ–≥—Ä–∞–º–º—ã —Å–æ—Ç—Ä—É–¥–Ω–∏—á–µ—Å—Ç–≤–∞ —Å —ç—Ç–∏–º –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ–º.
- –≤—ã—è–≤–ª–µ–Ω –∞–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ —Å—Ä–µ–¥–∏ –∫–Ω–∏–≥ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏: —ç—Ç–æ –≤—Å–µ–º–∏—Ä–Ω–æ –∏–∑–≤–µ—Å—Ç–Ω–∞—è –ø–∏—Å–∞—Ç–µ–ª—å–Ω–∏—Ü–∞ –î–∂–æ–∞–Ω–Ω –†–æ—É–ª–∏–Ω–≥ –∏ –∏–ª–ª—é—Å—Ç—Ä–∞—Ç–æ—Ä –µ–µ –∫–Ω–∏–≥ –æ –ì–∞—Ä—Ä–∏ –ü–æ—Ç—Ç–µ—Ä–µ - –ú—ç—Ä–∏ –ì—Ä–∞–Ω–¥–ü—Ä–µ. –û–ø—è—Ç—å –∂–µ, –¥–∞–Ω–Ω–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –ø–æ–º–æ–≥–∞–µ—Ç –ª—É—á—à–µ —É–∑–Ω–∞—Ç—å —Ü–µ–ª–µ–≤—É—é –∞—É–¥–∏—Ç–æ—Ä–∏—é - —á—Ç–æ –Ω—Ä–∞–≤–∏—Ç—Å—è —á–∏—Ç–∞—Ç–µ–ª—è–º –Ω–∞—à–µ–≥–æ —Å–µ—Ä–≤–∏—Å–∞.
- —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫ - 24. –≠—Ç–æ –≥–æ–≤–æ—Ä–∏—Ç –æ —Ç–æ–º, —á—Ç–æ –∞–∫—Ç–∏–≤–Ω—ã–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ –≤ —Å—Ä–µ–¥–Ω–µ–º –ø–∏—à—É—Ç –≤ –¥–≤–∞ —Ä–∞–∑–∞ –º–µ–Ω—å—à–µ –æ—Ç–∑—ã–≤–æ–≤, —á–µ–º —Å—Ç–∞–≤—è—Ç –æ—Ü–µ–Ω–æ–∫.

 <div class="alert alert-info"> <b>üéì –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –û—à–∏–±–∫–∏ –∏—Å–ø—Ä–∞–≤–ª–µ–Ω—ã, –≤—ã–≤–æ–¥ –Ω–µ –ø–æ–º–µ–Ω—è–ª—Å—è.</div>

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –•–æ—Ä–æ—à–∞—è —Ä–∞–±–æ—Ç–∞, –ø–æ–∑–¥—Ä–∞–≤–ª—è—é —Å –æ–∫–æ–Ω—á–∞–Ω–∏–µ–º –∫—É—Ä—Å–∞! –£ —Ç–µ–±—è –ø–æ–ª—É—á–∏–ª–∏—Å—å —É–≤–µ—Ä–µ–Ω–Ω—ã–µ —Ä–∞–±–æ—Ç—ã –Ω–∞ —Ñ–∏–Ω–∞–ª—å–Ω–æ–º —Å–ø—Ä–∏–Ω—Ç–µ, –ª–æ–≥–∏—á–Ω—ã–µ –∏ –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω—ã–µ, —Ç—ã —É–º–µ—à—à—å —Ä–∞—Å—Å—É–∂–¥–∞—Ç—å, –≤–∏–∑—É–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –∏ –¥–µ–ª–∞—Ç—å –≤—ã–≤–æ–¥—ã, —ç—Ç–æ –æ—á–µ–Ω—å —Ö–æ—Ä–æ—à–∏–µ –∫–∞—á–µ—Å—Ç–≤–∞ –¥–ª—è –∞–Ω–∞–ª–∏—Ç–∏–∫–∞! –†–µ–∫–æ–º–µ–Ω–¥—É—é –µ—â–µ –ø—Ä–æ–π—Ç–∏ –±–µ—Å–ø–ª–∞—Ç–Ω—ã–π –∫—É—Ä—Å –æ—Ç –ø—Ä–∞–∫—Ç–∏–∫—É–º–∞ –ø–æ <a href='https://practicum.yandex.ru/profile/ycloud-datalens/'> DataLens<a>
 </div>